<% if (locals.flash && flash.success) { %>
    <div style="color: green;"><%= flash.success %></div>
  <% } %>
  <% if (locals.flash && flash.error) { %>
    <div style="color: red;"><%= flash.error %></div>
  <% } %>
  