
<% if (flash.error && flash.error.length > 0) { %>
  <div class="flash error"><%= flash.error[0] %></div>
<% } %>

<% if (flash.success && flash.success.length > 0) { %>
  <div class="flash success"><%= flash.success[0] %></div>
<% } %>
