<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Node Hero</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to Node Hero!</h1>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/upload/file">Upload File</a></li>
    <li><a href="/upload/image">Upload Image</a></li>
    <li><a href="/uploads">View Uploads</a></li>
  </ul>
</body>
</html>
