<!-- /player/views/partials/deck.ejs -->
<div id="deck-container">
    <% deck.forEach(function(slide, i) { %>
      <div class="slide" data-start="<%= slide.start %>" data-end="<%= slide.end %>" id="slide-<%= i %>">
        <pre><code><%= JSON.stringify(slide, null, 2) %></code></pre>
      </div>
    <% }) %>
  </div>
  