

<% deck.forEach(function(slide, i) { %>
    <% if (slide.type === 'eq') { %>
      <%- include('./eq_slide', { slide, i }) %>
    <% } else { %>
      <!-- other slide types -->
      <div class="slide" ...>...</div>
    <% } %>
  <% }) %>
  