<!-- /player/views/partials/eq_slide.ejs -->
<div class="slide eq-slide"
     data-start="<%= slide.start %>"
     data-end="<%= slide.end %>"
     data-raw='<%- JSON.stringify(slide.data).replace(/'/g, "&#39;") %>'>
  <!-- eqSlide.js will render the lines and sidebar here -->
</div>
